@model IEnumerable<SacramentPlanner.Models.Speaker>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Members.MembersID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meeting.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpeakerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpeakerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpeakerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
